<%= form_for(@word_entry) do |f| %>
  <% if @word_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_entry.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :letters %><br>
    <%= f.text_field :letters %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :first_letter %><br>
    <%= f.text_field :first_letter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
