<div class="btn-toolbar hidden-phone">
  <span class="btn-group">
    <%= link_to 'Two letters', word_length_path(2), id: "btn-two-letters", class: "btn" %>
    <%= link_to 'Three letters', word_length_path(3), id: "btn-three-letters", class: "btn" %>
    <%= link_to 'Four letters', word_length_path(4), id: "btn-four-letters", class: "btn" %>
    <%= link_to 'Five letters', word_length_path(5), id: "btn-five-letters", class: "btn" %>
  </span>
  <span class="btn-group">
    <%= link_to 'Words with C', short_words_with_path("C"), id: "btn-c-words", class: "btn" %>
    <%= link_to 'Words with W', short_words_with_path("W"), id: "btn-w-words", class: "btn" %>
  </span>
</div>