<% provide(:title, 'Word search') %>
<div id="word-entries-search" class="hero-unit">
  <%= heading 'Words', "Search" %>
  <div id="word-nav">
    <p>
      <%= link_to "Scroll to top", "#word-entries-search" %>
    </p>
  </div>
  <div class="row">
    <div class="span11 center">
    	<p>Mark blank tiles with a <strong>space</strong>, or a <strong>period</strong>.</p>
      <%= render 'word_search_fields', word: @word %>
		</div>
	</div>
	<% unless @word.blank? %>
		<div class="row">
	    <div class="span11 center">
	    	<hr/>
	    	<p><%= search_result_text %></p>
	    	<div class="results">
		    	<% @word_entries.each do |word_entry| %>
		    		<% if @word == word_entry.word %>
		    			<p class="text-success"><strong> <%= word_entry.word %> </strong></p>
		    		<% else %>
		    			<p><strong> <%= word_entry.word %> </strong></p>
		    		<% end %>
		    	<% end %>
		    </div>
	    </div>
	  </div>
	<% end %>
</div>