<% provide(:title, 'Short words') %>
<div id="word-entries-words" class="hero-unit">
	<%= heading 'Words', header_text %>
	<div id="word-nav">
		<p>
			<% for_each_letter_with_words do |letter| %>
			<%= link_to letter, "##{letter}" %> |
			<% end %>
		</p>
	</div>
	<div class="row">
		<div class="span11">
			<%= render 'short_words_buttons' %>
			<div class="words">
			<% for_each_letter_with_words do |letter| %>
				<%= "<div id='#{letter}' class='word-row'>".html_safe %>
					<%= show_words_starting_with(letter) %>
				</div>
			<% end %>
			</div>
			<%= link_to 'Top', '#word-entries-words' %>
		</div>
	</div>
</div>