<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @word.text %>
</p>

<p>
  <strong>Letters:</strong>
  <%= @word.letters %>
</p>

<p>
  <strong>Length:</strong>
  <%= @word.length %>
</p>

<p>
  <strong>First letter:</strong>
  <%= @word.first_letter %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
