<div id="sign-up" class="hero-unit">
	<h1>Account</h1>
	<h2>Sign up</h2>
	<hr/>	
	<div class="row">
	  <div class="span6 offset3">
	    <%= form_for(@user) do |f| %>
    		<%= render 'shared/user_error_messages' %>
	      <%= f.text_field :name, placeholder: "Name" %>
	      <%= f.text_field :email, placeholder: "Email address" %>
	      <%= f.password_field :password, placeholder: "Password" %>
	      <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>

	      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
	    <% end %>
	  </div>
	</div>
</div>