<h1>Scrabble Dojo</h1>
<nav>
<%= link_to "2 bokstaver", controller: "words", action: "index", length: 2 %>
<%= link_to "3 bokstaver", controller: "words", action: "index", length: 3 %>
<%= link_to "4 bokstaver", controller: "words", action: "index", length: 4 %>
<%= link_to "5 bokstaver", controller: "words", action: "index", length: 5 %>
<%= link_to 'Alle ordene', words_path %>
</nav>

<div align="center" style="padding-top:200px">
  Dagens bingo
  <div style="font-size:40px; color:#4466AA">
    <h1><%= @word %></h1>
  </div>
</div>