<% provide(:title, 'Bingo challenges') %>
<div id="bingo-challenges-overview" class="hero-unit">
  <%= heading 'Challenges', 'Overview' %>
  <div class="row">
    <div class="span11 center">
      <%= link_to "Random #{@random.name}", @random, class: "btn btn-primary" %>
      <hr/>
      <h4>Ordered</h4>
      <% @ordered.each do |challenge| %>
        <span class="btn-group">
          <%= link_to "#{challenge.name}", challenge, class: "btn ordered" %>
          <%= link_to '<i class="icon-remove"></i>'.html_safe, challenge, method: :delete, data: { confirm: 'Delete this challenge?' }, class: "btn btn-danger" %>
        </span>
      <% end %>
      <br/><br/>
      <%= link_to "New challenge", new_bingo_challenge_path,
          class: "btn btn-primary ordered" %>
      <hr/>
    </div>
  </div>
</div>