<% provide(:title, 'Bingo challenge: Random') %>
<div id="bingo-challenge" class="hero-unit">
  <%= heading 'Bingo', 'Challenge: Random' %>
  <div class="row">
    <div class="span11 center">
      <p>Find all bingos in each level.</p>
      <p>You can skip up to 3 turns <span class='icon icon-heart'></span> &#10142; <span class='icon icon-remove'></span></p>
      <div id="bingo-challenge-box">
        <div id="lives-bar">
          <strong class="hidden-phone">Chances remaining:</strong>
          <%= challenge_lives %>
        </div>
        <div id="level-bar"> Level <%= @level %> </div>
        <div id="tiles-bar"> <%= @tiles.split(//).join(' ') %></div>
        <div id="challenge-form">
          <%= form_tag("/random_bingo_challenge", method: "get") do %>
            <div id="challenge-feedback" style="display:none;"></div>
            <div id="challenge-field">
              <%= hidden_field_tag :from_form, "true" %>
              <%= hidden_field_tag :level, @level %>
              <%= hidden_field_tag :lives, @lives %>
              <%= hidden_field_tag :tiles, @tiles %>
              <%= hidden_field_tag :found, @found.join(" ") %>
              <%= text_field_tag :guess, "", placeholder: ". . ." %>
            </div>
            <div class="btn-group">
              <%= submit_tag "Submit", id: "submit-guess", class: "btn btn-primary" %>
              <%= link_to "Shuffle", "#", id: "shuffle", class: "btn" %>
              <%= submit_tag "Skip", id: "skip-challenge", name: "skip", class: "btn btn-danger" %>
            </div>
            <div id="concede">
              <%= submit_tag "Yield  /  Restart challenge", name: "restart", class: "btn btn-inverse" %>
            </div>
          <% end %>
        </div>
        <div id="challenge-loading" style="display:none;">
          <p>Advancing to</p>
          <p>Level <%= @level + 1 %>!</p>
        </div>
        <div id="challenge-results">
          <p>Found <strong><span id="challenge-solutions-found">0</span> / <%= @solutions.count %></strong> bingos</p>
          <p id="challenge-solutions">
            <%= @solutions.map { |s| "<span id='s-#{s}' style='display:none;'>#{s}</span>"}.join(" ").html_safe %>
          </p>
        </div>
      </div>
      <p><%= link_to "Back to Bingo Challenges Overview", bingo_challenges_path %></p>
    </div>
  </div>
</div>