<% provide(:title, "Bingo challenge: #{@challenge.name}") %>
<div id="bingo-challenge" class="hero-unit">
  <%= heading 'Challenge', "#{@challenge.name}" %>
  <div class="row">
    <div class="span11 center">
      <div id="bingo-challenge-box">
        <div id="lives-bar">
          <strong class="hidden-phone">Chances remaining:</strong>
          <span id="count" style="display:none;">3</span>
          <span class='icon icon-heart'></span>
          <span class='icon icon-heart'></span>
          <span class='icon icon-heart'></span>
        </div>
        <div id="level-bar"> Level <%= @challenge.level %> </div>
        <div id="challenge-feedback" style='display:none;'></div>
        <div id="challenge-form">
          <div id="tiles-bar">
            <%= @tiles.split(//).map {|t| "<span class='tile'>#{t}</span>"}.join().html_safe %>
          </div>
          <%= form_tag({controller: "bingo_challenges", action: "play"}, method: "patch") do %>
            <div id="challenge-field">
              <%= hidden_field_tag :from_form, "true" %>
              <%= hidden_field_tag :id, @challenge.id %>
            </div>
            <div id="btn-challenge" class="btn-group">
              <%= submit_tag "Submit", id: "submit-guess", class: "btn btn-primary btn-large" %>
              <%= submit_tag "Shuffle", id: "shuffle", class: "btn btn-inverse btn-large" %>
              <%= submit_tag "Yield", id: "yield", class: "btn btn-danger btn-large" %>
            </div>
          <% end %>
        </div>
        <div id="challenge-loading" style="display:none;"><p><%= image_tag 'loading.gif' %></p></div>
        <div id="challenge-results">
          <p>Found <strong><span id="challenge-solutions-found">0</span> / <%= @solutions.count %></strong> bingos</p>
          <p id="challenge-solutions">
            <%= @solutions.map { |s| "<span id='s-#{s}' style='display:none;'>#{s}</span>"}.join(" ").html_safe %>
          </p>
        </div>
      </div>
      <p><%= link_to "Back to Bingo Challenges Overview", bingo_challenges_path %></p>
    </div>
  </div>
</div>