<%= render 'shared/error_messages', object: f.object %>
<div class="row"><div class="span5"><%= f.label :name %></div></div>
<div class="row"><div class="span5"><%= f.text_field :name %></div></div>
<div class="row">
  <div class="span5"><%= f.label :hints %></div>
  <div class="span5"><%= f.label :words %></div>
</div>
<div class="row">
  <div class="span5"><%= f.text_area :hints %></div>
  <div class="span5"><%= f.text_area :word_list, placeholder: "Seperate words by space or new line" %></div>
</div>
    