<%= form_for(@memo) do |f| %>
  <%= render 'shared/memo_error_messages' %>
  <div class="row">
    <div class="span5">
  <%= f.text_field :name, placeholder: "Name" %>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <%= f.text_area :hints, placeholder: "Hints" %>
    </div>
    <div class="span5">
      <%= f.text_area :word_list, placeholder: "Seperate words by space or new line" %>
    </div>
   </div>
   <div class="row">
    <div class="span1">
      <%= f.submit "Save", id: "memo-form-submit", class: "btn btn-primary" %>
    </div>
    <div class="span1">
      <%= link_to 'Back', memos_path, class: "btn" %>
    </div>
  </div>
<% end %>