<div class="pull-left">
  <p>Average health: </p>
  <p>Memo count: </p>
  <p>Total word count: &nbsp; </p>
  <p>Practice count: </p>
  <p>Avg. word time: </p>
</div>
<p><strong><%= show_average_health %></strong></p>
<p><strong><%= @memos.count %> </strong></p>
<p><strong><%= show_total_word_count %></strong></p>
<p><strong><%= show_total_practice_count %></strong></p>
<p><strong><%= show_average_word_time %></strong></p>
<hr/>
<div class="center"><span class="icon-book"></span></div>
<p>
  The health bars decrease over time and can be replenished by revising.
</p>
<div class="clearfix progress-info-box">
  <div class="pull-left">
    <div class='progress progress-success progress-striped active progress-short'><div class='bar' style='width: 85%;'></div></div>
    <div class='progress progress-warning progress-striped active progress-short'><div class='bar' style='width: 50%;'></div></div>
    <div class='progress progress-danger progress-striped active progress-short'><div class='bar' style='width: 25%;'></div></div>
    <div class='progress progress-disabled progress-short'><div class='bar' style='width: 100%;'></div></div>
  </div>
  <div class="pull-right">
    <div class="progress-info">
    <p>Pretty good</p>
    <p>Time to revise</p>
    <p>Overdue</p>
    <p>Disabled</p>
    </div>
  </div>
</div>