<div class="pull-left">
  <p>Average health: </p>
  <p>Memo count: </p>
  <p>Total word count: &nbsp; </p>
  <p>Practice count: </p>
  <p>Avg. word time: </p>
</div>
<p><strong><%= show_average_health %></strong></p>
<p><strong><%= @memos.count %> </strong></p>
<p><strong><%= show_total_word_count %></strong></p>
<p><strong><%= show_total_practice_count %></strong></p>
<p><strong><%= show_average_word_time %></strong></p>
<hr/>