<% provide(:title, 'Memos') %>
<div id="memo-overview" class="hero-unit">
  <%= heading 'Memos', 'Overview' %>
  <div class="row">
    <% if @memos.blank? %>
      <div class="span11 center">
        <p>
          A memo consists of the list of words that you want to memorize, optionally accompanied by some hints to help you remember. Here you can create, edit and revise your own memos, and get a some general statistics of your revisions.
        </p>
        <div class="visible-desktop">
          <p>
            Start by creating your first memo.
          </p>
          <%= link_to 'Create a memo', new_memo_path, class: "btn btn-primary" %>
        </div>
        <div class="hidden-desktop">
          <p>
            Cannot create new Memos on this device.
          </p>
        </div>
      </div>
    <% else %>
      <div class="memo-table">
        <%= render 'memo_overview_buttons' %>
        <table class="table table-striped table-hover">
          <% @memos.each do |memo| %>
            <tr class=<%= color_memo_row(memo) %>>
              <td><%= link_to memo.name, memo, class: "btn btn-primary" %></td>
              <td><%= health_bar(memo) %></td>
              <td class="size-column"><%= show_word_count(memo) %> words</td>
              <td class="right-column">
                <div class="btn-group">
                  <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_memo_path(memo), class: "btn" %>
                  <%= link_to '<i class="icon-remove"></i>'.html_safe, memo, method: :delete, data: { confirm: 'Delete this memo?' }, class: "btn btn-danger btn-bold" %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="offset8 visible-desktop">
        <div class="btn-toolbar center">
          <span class="btn-group">
            <%= link_to 'Revise weakest memo', revise_weakest_memos_path, class: "btn btn-primary btn-bold" %>
          </span>
        </div>
        <div class="memo-status">
          <div class="well">
            <%= render 'memo_overview_status' %>
          </div>
        </div>
      </div>
    <% end %>   
  </div>
</div>
