<div id="memo-results" class="hero-unit">
	<h1>Memo</h1>
  <h2>Results</h2>
	<hr/>
	<div class="row">
    <div class="span8">
			<div class="row">
				<div class="span8 health-update">
						<span id="prev-health" style="display: none;"><%= @prev_health %></span>
						<%= health_bar(@memo) %>
						<%= show_regained_health %>
				</div>
			</div>
			<div class="row">
				<div class="btn-group span8 center">
					<%= link_to 'Overview', memos_path, class: "btn"%>					
					<%= link_to 'Revise again', @memo, class: "btn btn-primary btn-bold"%>
				</div>
			</div>
			<% unless @missed_words.blank? and @wrong_words.blank? %>
				<div class="row">
					<% unless @missed_words.blank? %>
						<div class="span4">
							<div class="word-box wrong">
						  	<p><b>Missed (<%=  @missed_words.count %>)</b></p>
						  	<%= @missed_words.join(" ") %>
					  	</div>
					  </div>
					<% end %>
				  <% unless @wrong_words.blank? %>
				  	<div class="span4">
				  		<div class="word-box wrong">
				  			<p><b>Wrong (<%=  @wrong_words.count %>)</b></p>
				  			<%= @wrong_words.join(" ") %>
			  			</div>
				  	</div>
				  <% end %>
				</div>
		  	<br/>
		  	<div class="row">
		  		<div class="span4">
				  	<div class="word-box">
				  		<p><b>Words</b></p>
				  		<%= @form_words.join(" ") unless @form_words.blank? %>
				  	</div>
				  </div>
		  		<div class="span4">
				  	<div class="word-box solution">
				  		<p><b>Solution</b></p>
				  		<%= @memo.word_list %>
				  	</div>
				  </div>
				</div>
			<% end %>
		</div>

		<div class="offset8">
			<div class="memo-status">
			
			<div class="well">
				<%= render 'memo_status' %>
				<p>Health is replenished according to the results of the practice session.</p>
				<p>Find all the words without making any mistakes to fully replenish the bar.</p>
			</div>
		</div>
		</div>
	</div>
</div>