<% provide(:title, "Revise #{@memo.name}") %>
<div id="memo-revise" class="hero-unit">
	<%= heading 'Memos', "Revise #{@memo.name}" %>
	<div class="row">
    <div class="span8">
    	<%= render 'memo_buttons', disabled: @memo.practice_disabled %>
			<div class="row">
				<div id="box-hints" class="span4">
			  	<div class="word-box">
			  		<p><strong>Hints</strong></p>
			  		<%= show_word_list(@memo.hints) %>
			  	</div>
				</div>
				<div id="box-words" class ="span8">
			  	<div class="word-box">
			  		<p><strong>Words</strong></p>
			  		<%= @memo.word_list %>
			  	</div>
				</div>
			</div>
			<div id="box-practice">
				<div class="row">
					<div class="span8">
						<%= form_tag({controller: "memos", action: "practice"}, method: "patch") do %>
							<%= hidden_field_tag(:id, @memo.id) %>
							<div class="row">
      					<div class="span8">
									<%= text_area_tag(:message, "", placeholder: "Seperate words by space or new line", id: "practice-text-area") %>
								</div>
							</div>
							<div class="row">
      					<div class="span2">
      						<%= submit_tag "Done", id: "practice-done", class: "btn btn-primary btn-bold" %>
      					</div>
      					<div id="memo-timer-show" class="offset1">
      						<span class="icon icon-time"></span> <%= text_field_tag(:time, "", readonly: true, id: "memo-timer") %>
      					</div>
      				</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="offset8 visible-desktop">
			<%= health_bar(@memo) %>
			<div class="memo-status">
				<div class="well">
					<%= render 'memo_status' %>
				</div>
			</div>
		</div>
	</div>
</div>