<% provide(:title, @memo.name) %>
<div id="memo-revise" class="hero-unit">
	<h1>Memo</h1>
  <h2>Revise</h2>
	<hr/>
	<div class="row">
    <div class="span8">
      <div class="btn-toolbar">
				<span class="btn-group">
					<%= link_to 'Back', memos_path, class: "btn" %>
					<%= link_to 'Show hints', '#', id: "btn-hints", class: "btn"%>
					<%= link_to 'Hide words', '#', id: "btn-words", class: "btn"%>
					<%= link_to 'Practice', '#', id: "btn-practice", class: "btn btn-primary btn-bold visible-desktop"%>
				</span>
			</div>
			
			<div class="row">
				<div id="box-hints" class="span4">
			  	<div class="word-box">
			  		<p><strong>Hints</strong></p>
			  		<%= show_word_list(@memo.hints) %>
			  	</div>
				</div>
				<div id="box-words" class ="span8">
			  	<div class="word-box">
			  		<p><strong>Words</strong></p>
			  		<%= @memo.word_list %>
			  	</div>
				</div>
			</div>
			<div id="box-practice">
				<div class="row">
					<div class="span8">
						<%= form_tag({controller: "memos", action: "practice"}, method: "patch") do %>
							<%= hidden_field_tag(:id, @memo.id) %>
							<div class="row">
      					<div class="span8">
									<%= text_area_tag(:message, "", placeholder: "Seperate words by space or new line", id: "practice-text-area") %>
								</div>
							</div>
							<div class="row">
      					<div class="span2">
      						<%= submit_tag"Done", class: "btn btn-primary btn-bold" %>
      					</div>
      					<div id="memo-timer-show" class="offset1">
      						<span class="icon icon-time"></span> <%= text_field_tag(:time, "", readonly: true, id: "memo-timer") %>
      					</div>
      				</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="offset8 visible-desktop">
			<%= health_bar(@memo) %>
			<div class="memo-status">
				<div class="well">
					<%= render 'memo_status' %>
					<div class="center"><span class="icon-book"></span></div>
					<p> Once you are done revising, choose <strong>Practice</strong> mode to test your skills, and replenish your health. </p>
					<p> Or try beating your best time score. </p>
				</div>
			</div>
		</div>
	</div>
</div>