<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo">Scrabble Dojo</div>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "<i class='icon-home icon-white'></i> <strong>Home</strong>".html_safe, home_path %></li>
          <% if logged_in? %>
            <li><%= link_to "<i class='icon-file icon-white'></i> Memo".html_safe, memos_path %></li>            
          <% end %>
          <!-- <li><%= link_to "Bingotrener", '#' %></li>
          <li><%= link_to "Ord med 2 bokstaver", controller: "words", action: "index", length: 2 %></li>
          <li><%= link_to "Ord med 3 bokstaver", controller: "words", action: "index", length: 3 %></li>
          <li><%= link_to "Ord med 4 bokstaver", controller: "words", action: "index", length: 4 %></li> -->
        </ul>
        <ul class="nav pull-right">
          <%= render 'layouts/dropdowns/admin_bar' %>
          <%= render 'layouts/dropdowns/account_bar' %>
        </ul>
      </nav>
    </div>
  </div>
</header>