<header class="navbar navbar-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">                                                   
       <span class="icon-bar"></span>  
       <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>
      </a>
      <div id="logo" class="brand">Scrabble Dojo</div>
      <nav class="nav-collapse collapse">
        <ul class="nav pull-left">
          <%= render 'layouts/buttons/home_bar' %>
          <%= render 'layouts/dropdowns/short_words_bar' %>
          <%= render 'layouts/dropdowns/training_bar' %>
          <%= render 'layouts/dropdowns/find_words_bar' %>
        </ul>
        <ul class="nav pull-right">
          <%= render 'layouts/dropdowns/admin_bar' %>
          <%= render 'layouts/dropdowns/account_bar' %>
        </ul>
      </nav>
    </div>
  </div>
</header>