<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo">Scrabble Dojo</div>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Bingotrener", '#' %></li>
          <!-- <li><%= link_to "Ord med 2 bokstaver", controller: "words", action: "index", length: 2 %></li>
          <li><%= link_to "Ord med 3 bokstaver", controller: "words", action: "index", length: 3 %></li>
          <li><%= link_to "Ord med 4 bokstaver", controller: "words", action: "index", length: 4 %></li> -->
          <li><%= link_to "Memo", memos_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>